source https://nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget Fable.Core = 2.0.0
nuget Fable.Import.Browser
nuget Fable.PowerPack
nuget Fulma
nuget Fulma.Extensions
nuget Thoth.Json
nuget Fable.Elmish
nuget Fable.JsonConverter
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR